= bootstrap_form_for [@video, @review] do |f|
  = render 'shared/form_error', object: @review
  %fieldset
    .row
      .col-sm-3
        - options = [5,4,3,2,1].map { |i| [pluralize(i,'Star'), i] }
        = f.select :rating, options_for_select(options), {}, label: "Rate this video"
    .row
      .col-sm-8
        = f.text_field :title, label: 'Write Review', placeholder: 'Headline or summary for your review'
        = f.text_area :detail, hide_label: true, required: true, rows: 6, placeholder: 'Write your review here (required)'
  %fieldset.form-group.actions.clearfix
    = f.submit 'Submit', class: 'btn'

